* {
    margin: 0;
    padding: 0;
}
body
{
    background: rgb(168, 174, 184)

}
header
{
    width: 100%;
}
header nav
{
    width: 100%;
    height: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: rgba(16, 46, 145, 0.26);
    margin: 0px;
    
    margin-left: 10px;
    background: #1176e9;


}
.Menu
{
    display: none;

}
header nav ul 
{
    overflow: hidden;
    list-style: none;
}


header nav ul li
{
    float:left;
}
header nav ul li  a
{
    color: cornsilk;
    padding: 20px;
    display: block;
    text-decoration: none;
}
header nav ul li a:hover
{
    background: rgb(46, 155, 218);
}
section 
{
    padding: 25px;
}
@media screen and (max-width:800px)
{
    header nav 
    {

        width: 50%;
        left: -100%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li
    {
        display: block;
        float: none;
        border-bottom: 1px solid rgb(212, 219, 198, .3);
    }
    .Menu
    {
        display: block;
        width: 100%;
        background: rgb(22, 22, 22);
    }
    .Menu .Boton 
    {
        display: block;
        padding: 25px;
        background: rgb(61, 91, 223);
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
    }
   


}
.Contenedor
{
    margin: auto;
    margin: 30px;
    height: 500px;
    background-color: rgb(112, 112, 226);
    color: cornsilk;

   
}
.Contenedor img
{
 width: 250 px;
 height: 100px;
}
.Tabla
{
    margin: 10px auto;
    text-align: left;
    width: 600px;

}
table{
    width: 100%;
    text-align: left;
    background-color: cornsilk;

}
th ,td , tr
{
    border: solid 1px black;
    padding: 20px;
}

body
{
    background-color: rgb(121, 121, 228);
    background-image: url(https://i.pinimg.com/originals/31/28/6c/31286c98eaca094327563de3f86fb3ab.jpg);
    background-size: cover;
    
    font-family:Roboto;
}